style.css
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;

    background-image: url("img/calendario-app-com-a-lista-de-tarefas-e-tarefas-ui-ux-design-para-o-telefone-movel-700-119130746.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}


.app {
    background: white;
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: #667eea;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0 16px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    background: #f5f5f5;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.done {
    text-decoration: line-through;
    opacity: 0.6;
}
